body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: hsl(0, 0%, 8%);
}

.meishi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color:hsl(0, 0%, 12%);
   color: hsl(0, 0%, 100%);
   font-size: 16px;
   flex-direction: column;
   text-align: center;
   border-radius: 4%;
   
}

.shashin img {
    width: 30%;
    height: auto;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: -10px;

}
.name {
    font-size: 20px;
    background-color: hsl(0, 0%, 12%);
}

.location {
    color: hsl(179, 100%, 50%);
    background-color: hsl(0, 0%, 12%);
    margin-top: -20px;
}

.identity {
    background-color: hsl(0, 0%, 12%);
}



.sns {
    display: grid;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
}

.btn {
   color: white;
   display: block; 
   text-align: center; 
   background-color:  hsl(0, 0%, 20%); 
   padding: 12px 20px; 
   text-decoration: none; 
   border-radius: 5px; 
   margin-bottom: 10px; 
   transition: background-color 0.2s ease;
}

.btn:hover {
    color:  hsl(0, 0%, 20%);
    background-color:  hsl(179, 100%, 50%);

}
